# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#pyyinstaller
build
dist

# compiled firmware
firmware

#logs
log.txt
alog.txt

# IDE-specific files
.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS junk
.DS_Store
