
language: python
# python: "3.7"

jobs:
  include:
    - stage: Build
      name: Universal
      os: linux
      script:
        - tools/download_firmware_release.sh
        - tools/build_base_release.sh
      deploy: &base_deploy
        provider: releases
        token: $GITHUB_TOKEN
        file: dist/webcontrol/*.tar.gz
        skip_cleanup: true
        pre-release: true
        draft: true
        on:
          tags: true

    - stage: Build
      name: Linux
      os: linux
      install: &base_install
        - pip install -r requirements.txt
        - pip install pyinstaller
      script:
        - tools/download_firmware_release.sh
        - tools/build_release.sh linux
      deploy:
        <<: *base_deploy
    - stage: Build
      name: macOS
      os: osx
      language: generic
      addons:
        homebrew:
          packages: python3
      before_install:
        - pip3 install virtualenv
        - virtualenv -p python3 ~/venv
        - source ~/venv/bin/activate
      install:
        - *base_install
      script:
        - tools/download_firmware_release.sh
        - tools/build_release.sh osx
      deploy:
        <<: *base_deploy
    - stage: Build
      name: Windows
      os: windows
      language: shell
      env: PATH=/c/Python37:/c/Python37/Scripts:$PATH
      before_install:
        - choco install python --version=3.7.7
        - python -m pip install -U pip setuptools
      install:
        - *base_install
      script:
        - tools/download_firmware_release.sh
        - tools/build_release.sh windows
      deploy:
        <<: *base_deploy
      - stage: Deploy
        deploy:
          <<: *base_deploy
          draft: false
