-r ./Actions/requirements.in
# -r ./App/requirements.in
-r ./Background/requirements.in
-r ./Boards/requirements.in
-r ./Connection/requirements.in
-r ./GCodeOptimizer/requirements.in
-r ./HelpManager/requirements.in
-r ./ReleaseManager/requirements.in
-r ./WebPageProcessor/requirements.in

eventlet
# Flask-Misaka
Flask-Mobility
Flask-SocketIO
gevent

# Pyjion requires Python 3.10+ and .net 7+ to work
pyjion

Werkzeug
