[Unit]
Description=Maslow Buttons daemon

[Service]
Type=simple
ExecStart=/usr/bin/python3  ~/.WebControl/systemd/MaslowButton.py
WorkingDirectory=~/.WebControl/systemd/MaslowButton.py
StandardOutput=tty
TTYPath=/dev/tty1
Restart=never
user=pi

[Install]
WantedBy=sysinit.target
