[Unit]
Description=Maslow Buttons daemon

[Service]
Type=simple
ExecStart=/usr/bin/python3  /usr/local/etc/MaslowButton.py
WorkingDirectory=/usr/local/etc
StandardOutput=tty
TTYPath=/dev/tty1
Restart=never
user=pi

[Install]
WantedBy=sysinit.target
