[Unit]
Description=Maslow Buttons daemon

[Service]
Type=simple
ExecStart=/usr/bin/python3  /usr/local/etc/MaslowButton.py
WorkingDirectory=/usr/local/etc
Environment=API_KEY=123456789
Environment=API_PASS=password
Restart=never
user=pi

[Install]
WantedBy=sysinit.target
