
{% block content %}
<div class="container">
  <div class="row">
    <div class="col p-2">
      <button type="button" class="btn btn-lg btn-block btn-secondary" onclick="action('returnToCenter');$('#notificationModal').modal('hide');">Return to Center</button>
      <button type="button" class="btn btn-lg btn-block btn-secondary" onclick="action('resetChainLengths');$('#notificationModal').modal('hide');">Reset Chain Lengths</button>
      <button type="button" class="btn btn-lg btn-block btn-secondary" onclick="action('reportSettings');$('#notificationModal').modal('hide');">Report Settings</button>
      <button type="button" class="btn btn-lg btn-block btn-secondary" onclick="action('moveToDefault');$('#notificationModal').modal('hide');">Move to Default Location</button>
      <button type="button" class="btn btn-lg btn-block btn-secondary" onclick="action('testMotors');$('#notificationModal').modal('hide');">Test Motors/Encoders</button>
      <button type="button" class="btn btn-lg btn-block btn-secondary" onclick="action('wipeEEPROM');$('#notificationModal').modal('hide');">Wipe EEPROM</button>
      <button type="button" class="btn btn-lg btn-block btn-secondary" onclick="requestPage('setSprockets');$('#notificationModal').modal('hide');">Set Sprockets Vertical</button>
    </div>
  </div>
</div>
{% endblock %}
