{% block content %}
<input id="pageID" type="hidden" value="{{pageID}}">
<div class="container-fluid">
  <pre id="editor">{{gcode}}
  </pre>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static',filename='scripts/ace.js') }}" crossorigin="anonymous"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode({path: "ace/mode/gcode", v: Date.now()});
</script>

<script>
function onFooterSubmit(){
    var url = $("#pageID").val();
    var data = editor.getValue();
    console.log(data)
    $.ajax({
        url : '/'+url,
        type: "POST",
        data: {gcode:data},
        success: function (data) {
          console.log("success");
            $('#contentModal').modal('toggle')
        },
        error: function (jXHR, textStatus, errorThrown) {
            alert(errorThrown);
        }
    });
}

</script>

{% endblock %}



