{% extends 'base.html' %}

{% block header %}
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/frontpage.css', version='10262019a') }}" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block javascript %}
  <script src="{{ url_for('static',filename='scripts/pako.min.js') }}" crossorigin="anonymous"></script>
  <script src="{{ url_for('static',filename='scripts/feather.min.js') }}" crossorigin="anonymous"></script>
  <script src="{{ url_for('static',filename='scripts/three.js') }}" crossorigin="anonymous"></script>
  <script src="{{ url_for('static',filename='scripts/orbitcontrols.js') }}" crossorigin="anonymous"></script>
  <script src="{{ url_for('static',filename='scripts/frontpage3d.js', version='11102018r') }}" crossorigin="anonymous"></script>
  <script>feather.replace()</script>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="controls">
    <h3>Controls</h3>
    <div class="row">
      <div class="col-4  mb-1">
        <button type="button" class="btn btn-lg btn-secondary btn-block" onclick="moveAction('upLeft')">
          <i data-feather="arrow-up-left"></i>
        </button>
      </div>
      <div class="col-4  mb-1">
        <button type="button" class="btn btn-lg btn-dark btn-block" onclick="moveAction('up')">
          <i data-feather="arrow-up"></i>
        </button>
      </div>
      <div class="col-4  mb-1">
        <button type="button" class="btn btn-lg btn-secondary btn-block" onclick="moveAction('upRight')">
          <i data-feather="arrow-up-right"></i>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-4  mb-1">
        <button type="button" class="btn btn-lg btn-dark btn-block" onclick="moveAction('left')">
          <i data-feather="arrow-left"></i>
        </button>
      </div>
      <div class="col-4  mb-1">
        <button type="button" class="btn btn-lg btn-dark btn-block" onclick="action('home')">
          <i data-feather="home"></i>
        </button>
      </div>
      <div class="col-4  mb-1">
        <button type="button" class="btn btn-lg btn-dark btn-block" onclick="moveAction('right')">
          <i data-feather="arrow-right"></i>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-4  mb-1">
        <button type="button" class="btn btn-lg btn-secondary btn-block" onclick="moveAction('downLeft')">
          <i data-feather="arrow-down-left"></i>
        </button>
      </div>
      <div class="col-4  mb-1">
        <button type="button" class="btn btn-lg btn-dark btn-block" onclick="moveAction('down')">
          <i data-feather="arrow-down"></i>
        </button>
      </div>
      <div class="col-4  mb-1">
        <button type="button" class="btn btn-lg btn-secondary btn-block" onclick="moveAction('downRight')">
          <i data-feather="arrow-down-right"></i>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-4  mb-1">
        <button type="button" class="btn btn-lg btn-primary btn-block" onclick="action('macro1')" >Macro1</button>
      </div>
      <div class="col-4  mb-1">
        <button type="button" class="btn btn-lg btn-primary btn-block" onclick="action('macro2')" >Macro2</button>
      </div>
      <div class="col-4  mb-1">
        <button type="button" class="btn btn-lg btn-primary btn-block" onclick="requestPage('zAxis')">ZAxis</button>
      </div>
    </div>
    <div class="row">
      <div class="col-4  mb-1">
        <form onsubmit="return false;"><input class="form-control" type="text" inputmode="decimal" pattern="^[0-9]*(\.[0-9]{0,3})?$" id="distToMove" title="Positive number with maximum 3 decimal places"></form>
      </div>
      <div class="col-4  mb-1">
        <button id="units" type="button" class="btn btn-lg btn-secondary" onclick="unitSwitch()">--</button>
      </div>
      <div class="col-4  mb-1">
        <button type="button" class="btn btn-lg btn-primary btn-block" onclick="action('defineHome')" >
        <i data-feather="save">Def.</i> <i data-feather="home">Home</i></button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col mb-1">
      <div id="alerts" class="alert alert-success alert-dismissible col-md-12">No alerts</div>
    </div>
  </div>
  <div class="row" id="stickyButtons">
    <div class="col-4  mb-1">
      <button type="button" class="btn btn-lg btn-block btn-success" onclick="action('startRun')">Play</button>
    </div>
    <div class="col-4  mb-1">
      <button type="button" id="pauseButton" class="btn btn-lg btn-block btn-warning" onclick="pauseRun()">Pause</button>
    </div>
    <div class="col-4  mb-1">
      <button type="button" class="btn btn-lg btn-block btn-danger" id="stopButton" onclick="$(this).removeClass('stopbutton'); action('stopRun')">Stop</button>
    </div>
  </div>
  <div class="row">
    <div class="col-3  mb-1">
      <button type="button" class="btn btn-md btn-block btn-secondary" onclick="action('moveGcodeZ',-1);">&lt;Z</button>
    </div>
    <div class="col-3  mb-1">
      <button type="button" class="btn btn-md btn-block btn-secondary" onclick="action('moveGcodeIndex',-1);">&lt;1</button>
    </div>
    <div class="col-3  mb-1">
      <button type="button" class="btn btn-md btn-block btn-secondary" onclick="action('moveGcodeIndex',1);">1&gt;</button>
    </div>
    <div class="col-3  mb-1">
      <button type="button" class="btn btn-md btn-block btn-secondary" onclick="action('moveGcodeZ',1);">Z&gt;</button>
    </div>
  </div>
  
  <div class="row align-items-center">
      <div class="col-4 mb-1">
        <h5>Line #:</h5>
      </div>
      <div class="col-4 mb-1">
        <input class="form-control" type="number" step="1"  id="gcodeLineIndex" value="1">
      </div>
      <div class="col-4 mb-1">
        <button type="button" class="btn btn-block btn-secondary" onclick="action('moveGcodeGoto',$('#gcodeLineIndex').val()-1)">Goto</button>
      </div>
  </div>
  <div class="row">
      <div class="col-3 mb-1">
        <h5>Line:</h5>
      </div>
      <div class="col-9 mb-1">
        <div id='gcodeLine'></div>
      </div>
  </div>  
  <div class="row">
    <div class="col-3  mb-1">
      <h5>Position:</h5>
    </div>
    <div class="col-9  mb-1">
      <div id='positionMessage'></div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <h5>Error:</h5>
    </div>
    <div class="col-4">
      <div class="progress">
        <div id="leftError" class = "progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <div class="col-4">
      <div class="progress">
        <div id="rightError" class = "progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-3 mb-1">
      <h5>Home:</h5>
    </div>
    <div class="col-9 mb-1">
      <div id='homePositionMessage'></div>
    </div>
  </div>
  <div class="row">
    <div class="col-3 mb-1">
      <h5>Complete:</h5>
    </div>
    <div class="col-3 mb-1">
      <div id='percentComplete'></div>
    </div>
    <div class="col-3 mb-1">
      <h5>State:</h5>
    </div>
    <div class="col-3 mb-1">
      <div id='machineState'></div>
    </div>
  </div>
  <div class="row">
    <div class="col-2 mb-1">
      <h5>Tool:</h5>
    </div>
    <div class="col-1 mb-1">
      <div id='currentTool'></div>
    </div>
    <div class="col-4 mb-1">
      <h5>Positioning:</h5>
    </div>
    <div class="col-5 mb-1">
      <div id='currentPositioningMode'></div>
    </div>
  </div>
  <div class="row mb-1">
    <div class="col-6">
      <button class="btn btn-secondary btn-block" type="button" id="mobilebutton3D" onclick="toggle3DView()">3D</button>
    </div>
    <div class="col-6">
      <button class="btn btn-secondary btn-block" type="button" id="mobilebuttonReset" onclick="resetView()">Reset</button>
    </div>
  </div>
  <div class="row mb-1">
    <button id="boardID" class="btn btn-primary btn-block" onclick="toggleBoard()">...</button>
  </div>
  <div id="workarea" class="row" style="height:400px">
  </div>
  <div class="col-3 mb-1">
    <button id="videoStatus" type="button" class="btn btn-block btn-secondary" onclick="action('toggleCamera')"><i data-feather="video-off"></i></button>
  </div>
  <div id="mobileCameraArea" class="row" style="height:200px" style="display:none">
    <div class="col">
        <div id="mobileCameraDiv1"><img id="cameraImage1" src="#" style="display:none"></div>
        <div id="mobileCameraDiv2"><img id="cameraImage2" src="#" style="display:none"></div>
    </div>
  </div>
  <div id="fpCircle" style="display: none;">
    <div class="loader">
      <div class="loader">
        <div class="loader">
          <div class="loader">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col mb-1">
      <h3>Controller Messages</h3>
    </div>
  </div>
  <div class="row">
    <div class="col mb-1">
      <div class="scrollTextMobile" id='controllerMessage'></div>
    </div>
  </div>
</div>
{% endblock %}
