{% extends 'base.html' %}

{% block header %}
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/frontpage.css') }}" crossorigin="anonymous">
{% endblock %}

{% block javascript %}
  <script src="{{ url_for('static',filename='scripts/svg.js') }}" crossorigin="anonymous"></script>
  <script src="{{ url_for('static',filename='scripts/svg.panzoom.min.js') }}" crossorigin="anonymous"></script>
  <script src="{{ url_for('static',filename='scripts/frontpage.js') }}" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<div class="container-fluid d-flex h-100 flex-column">
  <div class="row flex-fill d-flex justify-content-start">
    <div id="workarea" class="col">
    </div>
    <div class="col my-sidebar">
      <div class="container">
        <h3>Controls</h3>
        <div class="row">
          <div class="col mb-1">
            <button type="button" class="btn btn-secondary btn-block" onclick="move('upLeft')">upleft</button>
          </div>
          <div class="col mb-1">
            <button type="button" class="btn btn-dark btn-block" onclick="move('up')";>up</button>
          </div>
          <div class="col mb-1">
            <button type="button" class="btn btn-secondary btn-block" onclick="move('upRight')">upright</button>
          </div>
          <div class="col mb-1">
            <button type="button" class="btn btn-primary btn-block" >Macro1</button>
          </div>
          <div class="w-100"></div>
          <div class="col mb-1">
            <button type="button" class="btn btn-dark btn-block" onclick="move('left')">left</button>
          </div>
          <div class="col mb-1">
            <button type="button" class="btn btn-dark btn-block" onclick="action('home')">home</button>
          </div>
          <div class="col mb-1">
            <button type="button" class="btn btn-dark btn-block" onclick="move('right')">right</button>
          </div>
          <div class="col mb-1">
            <button type="button" class="btn btn-primary btn-block">Macro2</button>
          </div>
          <div class="w-100"></div>
          <div class="col mb-1">
            <button type="button" class="btn btn-secondary btn-block" onclick="move('downLeft')">dleft</button>
          </div>
          <div class="col mb-1">
            <button type="button" class="btn btn-dark btn-block" onclick="move('down')">down</button>
          </div>
          <div class="col mb-1">
            <button type="button" class="btn btn-secondary btn-block" onclick="move('downRight')">dright</button>
          </div>
          <div class="col mb-1">
            <button type="button" class="btn btn-primary btn-block" onclick="requestPage('zAxis');">ZAxis</button>
          </div>
        </div>
        <div class="row">
          <div class="col mb-1">
            <label>Dist To Move</label>
          </div>
          <div class="col mb-1">
            <input class="form-control" id="distToMove" value="0.01">
          </div>
          <div class="col mb-1">
            <button id="units" type="button" class="btn btn-secondary" onclick="unitSwitch();">--</button>
          </div>
          <div class="col-4 mb-1">
            <button type="button" class="btn btn-primary btn-block" onclick="action('defineHome')" >Def. Home</button>
          </div>
        </div>
        <div class="row">
          <div class="col mb-1">
            <button type="button" class="btn btn-block btn-success" onclick="action('startRun')">Play</button>
          </div>
          <div class="col mb-1">
            <button type="button" id="pauseButton" class="btn btn-block btn-warning" onclick="pauseRun()">Pause</button>
          </div>
          <div class="col mb-1">
            <button type="button" class="btn btn-block btn-danger" onclick="action('stopRun')">Stop</button>
          </div>
        </div>
        <div class="row">
          <div class="col mb-1">
            <button type="button" class="btn btn-block btn-secondary" onclick="action('moveGcodeZ',-1);">&lt;Z</button>
          </div>
          <div class="col mb-1">
            <button type="button" class="btn btn-block btn-secondary" onclick="action('moveGcodeIndex',1);">&lt;1</button>
          </div>
          <div class="col mb-1">
            <button type="button" class="btn btn-block btn-secondary">Goto</button>
          </div>
          <div class="col mb-1">
            <button type="button" class="btn btn-block btn-secondary" onclick="action('moveGcodeIndex',1);">1&gt;</button>
          </div>
          <div class="col mb-1">
            <button type="button" class="btn btn-block btn-secondary" onclick="action('moveGcodeZ',-1);">Z&gt;</button>
          </div>
        </div>
        <div class="row">
          <div class="col-4 mb-1">
            <h4>Position</h4>
          </div>
          <div class="col-8 mb-1">
            <p id='positionMessage'></p>
          </div>
        </div>
        <div class="row">
          <div class="col mb-1">
            <h3>Controller Messages</h3>
          </div>
        </div>
        <div class="row">
          <div class="col mb-1">
            <div class="scrollText" id='controllerMessage'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
