{% block content %}
<div class="container-fluid">
  <form class="form" id="gcodeForm" method="post" enctype=multipart/form-data>
    <div class="row mb-3">
        <label for="directorySelect">Select Directory</label>
        <select id="directorySelect" class="custom-select" name="selectedDirectory" data-group="{{title}}">
          {% for directory in directories %}
            <option value="{{directory}}" {{'selected' if directory == lastSelectedDirectory else ''}}>
              {{directory if directory != '.' else './'}}
            </option> 
          {% endfor %}
        </select>
    </div>
    <div class="row">
        <label for="fileSelect">Select File</label>
        <select id="fileSelect" class="custom-select" name="selectedGCode" data-group="{{title}}">
          {% for file in files %}
            <option value="{{file['directory']}}/{{file['file']}}" {{'selected' if file["file"] == lastSelectedFile else ''}}>
              {{file["file"]}}
            </option>
          {% endfor %}
        </select>
    </div>
    <div class="row mb-3">
        <input type="checkbox" id="annotate" name="annotate" value="True">
        <label for="annotate"> _ annotate gcode (default = NO)</label>
    </div>
    <div class="row mb-3">
        <label for="minimize">Select Minimize Level_</label>
        <input type="radio" id="soft" name="minimize" value="soft" checked>
        <label for="soft">_ Soft  _</label>
        <input type="radio" id="medium" name="minimize" value="medium">
        <label for="medium">_ Medium  _</label>
        <input type="radio" id="hard" name="minimize" value="hard">
        <label for="hard">_ Hard  _</label>
    </div>
    <div class="row mb-3">
        <input type="text" id="tolerance" name="tolerance" value="0">
        <label for="tolerance"> _ clipping tolerance. Min: 0.00005 (default).  Max: 0.5)</label>
    </div>
    <div class="row mb-3">
      <input type="text" id="arctolerance" name="arctolerance" value="0">
      <label for="arctolerance">_ arc tolerance for point-to-point length of arcs. Min: 0.00005 (default).  Max: 0.5)</label>
    </div>
    <div class="row mb-3">
      <input type="text" id="zClamp" name="zClamp" value="0.5">
      <label for="zClamp"> _ zclamp restricts positive z value. /br Min(mm):0.5 (*default). Max(mm) 10. /br Min(in) 0.02 (*default). Max(in) /br gcodeclean autoselects units depending on the gcode file G20 or G21.</label>
    </div>
    <div id="gcCircle">
      <div class="loader">
        <div class="loader">
          <div class="loader">
            <div class="loader">
            </div>
          </div>
        </div>
      
  </form>
</div>
{% endblock %}
{% block javascript %}
<script src="{{ url_for('static',filename='scripts/gcodeclean.js') }}" crossorigin="anonymous"></script>
{% endblock %}