<!doctype html>
<head>
  <title>{% block title %}{% endblock %}WebControl Logs</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/bootstrap.min.css', version='10262018a') }}" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/switches.css', version='10262018a') }}" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/logs.css', version='10262019k') }}" crossorigin="anonymous">
  <!--<script src="{{ url_for('static',filename='scripts/socket.io-2.1.1.js', version='11102018a') }}" crossorigin="anonymous"></script>-->
  <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
  <script src="{{ url_for('static',filename='scripts/jquery-3.3.1.min.js', version='11102018a') }}" crossorigin="anonymous"></script>
  <script src="{{ url_for('static',filename='scripts/bootstrap.bundle.min.js', version='11102018a') }}" crossorigin="anonymous"></script>
  <script src="{{ url_for('static',filename='scripts/logs.js', version='11102018r') }}" crossorigin="anonymous"></script>

  <script type="text/javascript" charset="utf-8">
  </script>

</head>

<div>
  <div class="row">
    <div id="loggingState" class="alert alert-success">Waiting for Status...</div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-9">
          <h4>Log</h4>
        </div>
        <div class="col-3">
          <span class="switch switch-lg">
            <input type="checkbox" class="switch" id="enablelog" checked>
            <label for="enablelog"></label>
          </span>
        </div>
      </div>
      <div id="logMessages"></div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-9">
          <h4>Abridged Log</h4>
        </div>
        <div class="col-3">
          <span class="switch switch-lg">
            <input type="checkbox" class="switch" id="enablealog" checked >
            <label for="enablealog"></label>
          </span>
        </div>
      </div>
      <div id="alogMessages"></div>
    </div>
  </div>
</div>
</body>

{% block javascript %}{% endblock %}
