{% block content %}
<div class="container-fluid">
  <form id="gcodeForm" method="post" enctype=multipart/form-data>
    <div class="input-group mb-3">
      <select class="custom-select" name="selectedGCode" data-group="{{title}}">
        {% for file in files %}
          <option value="{{file}}" {{'selected' if file == lastSelectedFile else ''}}>
            {{file}}
          </option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function () {
    $('#gcodeForm').on('submit', function(e) {
        e.preventDefault();

        var formdata = new FormData(this);

        $.ajax({
            url : '/openGCode',
            type: "POST",
            data: formdata,
            mimeTypes:"multipart/form-data",
            contentType: false,
            cache: false,
            processData: false,
            success: function (data) {
              console.log("success");
                $('#contentModal').modal('toggle')
                checkForGCodeUpdate();
            },
            error: function (jXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });
});
</script>
{% endblock %}
