{% import 'macros.html' as macros %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    {% if isMobile == true %}
    <div class="col-12">
      <div class="card" id="configurationAccordion">
        <button class="btn text-left" data-toggle="collapse" data-target="#collapseConfiguration" aria-expanded="false" aria-controls="collapseConfiguration">
          <h4 class="card-title" id="configurationHeader">
            Configuration...
          </h4>
        </button>
        <div id="collapseConfiguration" class="collapse" aria-labelledby="configurationHeader" data-parent="#configurationAccordion">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="markerX">Horizontal Size of Marker</label>
                  {{ macros.input_decimal("markerX", True, markerX) }}
                  <small class="form-text text-muted">Enter value in inches only</small>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="markerY">Vertical Size of Marker</label>
                  {{ macros.input_decimal("markerY", True, markerY) }}
                  <small class="form-text text-muted">Enter value in inches only</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="scaleX">Horizontal Scale Factor</label>
                  {{ macros.input_decimal("scaleX", True, scaleX) }}
                  <small class="form-text text-muted">Enter something like 1.0028</small>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="scaleY">Vertical Scale Factor</label>
                  {{ macros.input_decimal("scaleY", True, scaleY) }}
                  <input class="form-control" type="text" inputmode="decimal" pattern="^[0-9]*(\.[0-9]{0,5})?$" name="scaleY" id="scaleY" value="{{scaleY}}">
                  <small class="form-text text-muted">Enter something like 1.0028</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="opticalCenterX">X Coordinate of Center</label>
                  {{ macros.input_decimal("opticalCenterX", True, opticalCenterX) }}
                  <small class="form-text text-muted">Enter something like 300</small>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="opticalCenterY">Y Coordinate of Center</label>
                  {{ macros.input_decimal("opticalCenterY", True, opticalCenterY) }}
                  <small class="form-text text-muted">Enter something like 200</small>
                </div>
             </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="positionTolerance">Position Tolerance</label>
                  {{ macros.input_decimal("positionTolerance", True, positionTolerance) }}
                  <small class="form-text text-muted">Enter something like 0.125 (mm)</small>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-lg btn-primary float-right m-1" onclick="saveConfiguration();">Save</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card" id="calibrationExtentsAccordion">
        <button class="btn text-left" data-toggle="collapse" data-target="#collapseCalibrationExtents" aria-expanded="false" aria-controls="collapseCalibrationExtents">
          <h4 class="card-title" id="calibrationExtentsHeader">Calibration Extents...</h4>
        </button>
        <div id="collapseCalibrationExtents" class="collapse" aria-labelledby="calibrationExtentsHeader" data-parent="#calibrationExtentsAccordion">
          <div class="card-body">
            <h4 class="card-title">Calibration Extents</h4>
            <select class="custom-select" name="calibrationExtents" id="calibrationExtents">
              <option value="Top Left" {{'selected' if calibrationExtents=='Top Left' else ''}}>48 x 36 Top Left</option>
              <option value="Bottom Left" {{'selected' if calibrationExtents=='Bottom Left' else '' }}>48 x 36 Bottom Left</option>
              <option value="Top Right" {{'selected' if calibrationExtents=='Rop Right' else '' }}>48 x 36 Top Right</option>
              <option value="Bottom Right" {{'selected' if calibrationExtents=='Bottom Right' else ''}}>48 x 36 Bottom Right</option>
              <option value="Full Area" {{'selected' if calibrationExtents=='Full Area' else ''}}>96 x 48 Full Area</option>
              <option value="Custom" {{'selected' if calibrationExtents=='Custom' else ''}}>Custom</option>
            </select>
            <div class="row">
            {% set disabled_custom = (calibrationExtents!='Custom') %}
            <div class="col">
              <div class="form-group">
                <label for="tlX">X Coordinate of Top Left</label>
                {{ macros.input_decimal("tlX", True, tlX, disabled_custom) }}
                <small class="form-text text-muted">Range from +15 to -15 (+ is right, - is left)</small>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="tlY">Y Coordinate of Top Left</label>
                {{ macros.input_decimal("tlY", True, tlY, disabled_custom) }}
                <small class="form-text text-muted">Range from +7 to -7 (+ is up, - is down)</small>
              </div>
            </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="brX">X Coordinate of Bottom Right</label>
                  {{ macros.input_decimal("brX", True, brX, disabled_custom) }}
                  <small class="form-text text-muted">Range from +15 to -15 (+ is right, - is left)</small>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="brY">Y Coordinate of Bottom Right</label>
                  {{ macros.input_decimal("brY", True, brY, disabled_custom) }}
                  <small class="form-text text-muted">Range from +7 to -7 (+ is up, - is down)</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="autoScanDirection">Auto Scan Direction</label>
                  <select class="custom-select" name="autoScanDirection" id="autoScanDirection">
                    <option value=0 {{'selected' if autoScanDirection==0 else ''}}>Horizontally</option>
                    <option value=1 {{'selected' if autoScanDirection==1 else ''}}>Vertically</option>
                  </select>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-lg btn-primary float-right m-1" onclick="saveConfiguration();">Save</button>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="col-12">
      <div class="card" id="configurationAccordion">
        <button class="btn text-left" data-toggle="collapse" data-target="#collapseConfiguration" aria-expanded="false" aria-controls="collapseConfiguration">
          <h4 class="card-title" id="configurationHeader">
            Configuration and Calibration Extents...
          </h4>
        </button>
        <div id="collapseConfiguration" class="collapse" aria-labelledby="configurationHeader" data-parent="#configurationAccordion">
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                <div class="card-title"><h3>Configuration</h3></div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="markerX">Horizontal Size of Marker</label>
                      {{ macros.input_decimal("markerX", True, markerX) }}
                      <small class="form-text text-muted">Enter value in inches only</small>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="markerY">Vertical Size of Marker</label>
                      {{ macros.input_decimal("markerY", True, markerY) }}
                      <small class="form-text text-muted">Enter value in inches only</small>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="scaleX">Horizontal Scale Factor</label>
                      {{ macros.input_decimal("scaleX", True, scaleX) }}
                      <small class="form-text text-muted">Enter something like 1.0028</small>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="scaleY">Vertical Scale Factor</label>
                      {{ macros.input_decimal("scaleY", True, scaleY) }}
                      <small class="form-text text-muted">Enter something like 1.0028</small>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="opticalCenterX">X Coordinate of Center</label>
                      {{ macros.input_decimal("opticalCenterY", True, opticalCenterY) }}
                      <small class="form-text text-muted">Enter something like 300</small>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="opticalCenterY">Y Coordinate of Center</label>
                      {{ macros.input_decimal("opticalCenterY", True, opticalCenterY) }}
                      <small class="form-text text-muted">Enter something like 200</small>
                    </div>
                   </div>
                 </div>
                 <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="positionTolerance">Position Tolerance</label>
                      {{ macros.input_decimal("positionTolerance", True, positionTolerance) }}
                      <small class="form-text text-muted">Enter something like 0.125 (mm)</small>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Calibration Extents</h4>
                  <select class="custom-select" name="calibrationExtents" id="calibrationExtents">
                    <option value="Top Left" {{'selected' if calibrationExtents=='Top Left' else ''}}>48 x 36 Top Left</option>
                    <option value="Bottom Left" {{'selected' if calibrationExtents=='Bottom Left' else '' }}>48 x 36 Bottom Left</option>
                    <option value="Top Right" {{'selected' if calibrationExtents=='Rop Right' else '' }}>48 x 36 Top Right</option>
                    <option value="Bottom Right" {{'selected' if calibrationExtents=='Bottom Right' else ''}}>48 x 36 Bottom Right</option>
                    <option value="Full Area" {{'selected' if calibrationExtents=='Full Area' else ''}}>96 x 48 Full Area</option>
                    <option value="Custom" {{'selected' if calibrationExtents=='Custom' else ''}}>Custom</option>
                  </select>
                  <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="tlX">X Coordinate of Top Left</label>
                      <input class="form-control" type="text" inputmode="decimal" pattern="^[0-9]*(\.[0-9]{0,5})?$" name="tlX" id="tlX" {{'disabled' if calibrationExtents!='Custom' else ''}} value="{{tlX}}">
                      <small class="form-text text-muted">Range from +15 to -15 (+ is right, - is left)</small>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="tlY">Y Coordinate of Top Left</label>
                      <input class="form-control" type="text" inputmode="decimal" pattern="^[0-9]*(\.[0-9]{0,5})?$" name="tlY" id="tlY" {{'disabled' if calibrationExtents!='Custom' else ''}} value="{{tlY}}">
                      <small class="form-text text-muted">Range from +7 to -7 (+ is up, - is down)</small>
                    </div>
                  </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label for="brX">X Coordinate of Bottom Right</label>
                        <input class="form-control" type="text" inputmode="decimal" pattern="^[0-9]*(\.[0-9]{0,5})?$" name="brX" id="brX" {{'disabled' if calibrationExtents!='Custom' else ''}} value="{{brX}}">
                        <small class="form-text text-muted">Range from +15 to -15 (+ is right, - is left)</small>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label for="brY">Y Coordinate of Bottom Right</label>
                        <input class="form-control" type="text" inputmode="decimal" pattern="^[0-9]*(\.[0-9]{0,5})?$" name="brY" id="brY" {{'disabled' if calibrationExtents!='Custom' else ''}} value="{{brY}}">
                        <small class="form-text text-muted">Range from +7 to -7 (+ is up, - is down)</small>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label for="autoScanDirection">Auto Scan Direction</label>
                        <select class="custom-select" name="autoScanDirection" id="autoScanDirection">
                          <option value=0 {{'selected' if autoScanDirection==0 else ''}}>Horizontally</option>
                          <option value=1 {{'selected' if autoScanDirection==1 else ''}}>Vertically</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-lg btn-primary float-right m-1" onclick="saveConfiguration();">Save</button>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  <div class="card" id="opticalRecognitionAccordion">
    <button class="btn text-left" data-toggle="collapse" data-target="#collapseOpticalRecognition" aria-expanded="false" aria-controls="collapseOpticalRecognition">
      <h4 class="card-title" id="opticalRecognitionHeader">
        Optical Recognition...
      </h4>
    </button>
    <div id="collapseOpticalRecognition" class="collapse" aria-labelledby="opticalRecognitionHeader" data-parent="#opticalRecognitionAccordion">
      <div class="card-body">
        <div class="row">
          <div class={{"col-12" if isMobile==true else "col-6"}}>
            <div class="card">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="cannyLowValue">Canny Low Value</label>
                    <input class="form-control" type="text" inputmode="decimal" pattern="^[0-9]*(\.[0-9]{0,5})?$" name="cannyLowValue" id="cannyLowValue" value="{{cannyLowValue}}">
                    <small class="form-text text-muted">0-255</small>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="cannyHighValue">Canny High Value</label>
                    <input class="form-control" type="text" inputmode="decimal" pattern="^[0-9]*(\.[0-9]{0,5})?$" name="cannyHighValue" id="cannyHighValue" value="{{cannyHighValue}}">
                    <small class="form-text text-muted">0-255</small>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <label for="gaussianBlurValue">Gaussian Value</label>
                  <select class="custom-select" name="gaussianBlurValue" id="gaussianBlurValue">
                    <option value=1 {{'selected' if gaussianBlurValue==1 else ''}}>1 x 1</option>
                    <option value=3 {{'selected' if gaussianBlurValue==3 else ''}}>3 x 3</option>
                    <option value=5 {{'selected' if gaussianBlurValue==5 else '' }}>5 x 5</option>
                    <option value=7 {{'selected' if gaussianBlurValue==7 else '' }}>7 x 7</option>
                    <option value=9 {{'selected' if gaussianBlurValue==9 else ''}}>9 x 9</option>
                    <option value=11 {{'selected' if gaussianBlurValue==11 else ''}}>11 x 11</option>
                  </select>
                </div>
                <div class="col-6">
                  <label >Adjust Height</label>
                  <div class="row">
                    <div class="col-6">
                      <button type="button" class="btn btn-lg btn-block btn-secondary mb-1" onclick="action('adjustCenter', 5);"><i data-feather="arrow-up"></i></button>
                    </div>
                    <div class="col-6">
                      <button type="button" class="btn btn-lg btn-block btn-secondary mb-1" onclick="action('adjustCenter', -5);"><i data-feather="arrow-down"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-lg btn-block btn-secondary mt-1" onclick="process('testImage');">Test</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-lg btn-block btn-secondary mt-1" onclick="process('findCenter');">Find Center</button>
                </div>

              </div>
            </div>
          </div>
          <div class={{"col-12" if isMobile==true else "col-6"}}>
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div id="testImageDiv"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-lg btn-primary float-right m-1" onclick="saveConfiguration();">Save</button>
      </div>
    </div>
  </div>
  <div class="card" id="curveFitAccordion">
      <button class="btn text-left" data-toggle="collapse" data-target="#collapseCurveFit" aria-expanded="false" aria-controls="collapseCurveFit">
        <h4 class="card-title" id="curveFitHeader">
          Curve Fitting...
        </h4>
      </button>
      <div id="collapseCurveFit" class="collapse" aria-labelledby="curveFitHeader" data-parent="#curveFitAccordion">
          <div class="card-body">
            <button id="curveFitButton" type="button" class="btn btn-lg btn-secondary mt-1" onclick="action('curveFitOpticalCalibration');">Do Curve Fit</button>
            <button id="curveChartButton" type="button" class="btn btn-lg btn-primary mt-1" onclick="redrawCurveCharts('all');">Draw Charts</button>
            <div class="row">
              {% if isMobile==false %}
                <div class="col">
                  <div id="xCurvePlot" style="width:100%; height:400px;"></div>
                </div>
                <div class="col">
                  <div id="yCurvePlot" style="width:100%; height:400px;"></div>
                </div>
              {% else %}
                  <div id="xCurvePlot" style="width:100%; height:400px;"></div>
                  <div id="yCurvePlot" style="width:100%; height:400px;"></div>
              {% endif %}
            </div>
            <button type="button" class="btn btn-lg btn-primary float-right m-1" onclick="saveConfiguration();" disabled>Save</button>
          </div>
      </div>
  </div>
  <div class="card" id="calibrationMatrixAccordion">
        <button class="btn text-left" data-toggle="collapse" data-target="#collapseCalibrationMatrix" aria-expanded="false" aria-controls="collapseCalibrationMatrix"">
          <h4 class="card-title" id="calibrationMatrixHeader">
            Calibration Matrix...
          </h4>
        </button>
        <div id="collapseCalibrationMatrix" class="collapse" aria-labelledby="calibrationMatrixHeader" data-parent="#calibrationMatrixAccordion">
          <div class="card-body">
            <button id="errorChartButton" type="button" class="btn btn-lg btn-primary" onclick="redrawErrorCharts('all');" >Draw Charts</button>
            <div class="row">
              {% if isMobile==false %}
                <div class="col">
                  <div id="xErrorPlot" style="width:100%; height:400px;"></div>
                </div>
                <div class="col">
                  <div id="yErrorPlot" style="width:100%; height:400px;"></div>
                </div>
              {% else %}
                  <div id="xErrorPlot" style="width:100%; height:400px;"></div>
                  <div id="yErrorPlot" style="width:100%; height:400px;"></div>
              {% endif %}
              <div id="xyErrorPlot" style="width:100%; height:400px;"></div>
            </div>
            <button type="button" class="btn btn-lg btn-primary float-right m-1" onclick="saveConfiguration();" disabled>Save</button>
          </div>
        </div>
      </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Calibration</h4>
      <div class="row">
          <div class="col">
              <button type="button" class="btn btn-lg btn-block btn-secondary m-1" onclick="process('optical_Calibrate');">Start Automatic Calibration</button>
          </div>
          <div class="col">
              <button type="button" class="btn btn-lg btn-block btn-danger m-1" onclick="action('stopOpticalCalibration');">Stop</button>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <button type="button" class="btn btn-lg btn-block btn-secondary m-1" onclick="action('reloadCalibration');">(Re)Load Calibration</button>
          </div>
          <div class="col">
              <button type="button" class="btn btn-lg btn-block btn-secondary m-1" onclick="action('clearCalibration');">Clear Calibration</button>
          </div>
      </div>
      <div class="row">
          <div class="col-6">
              <button type="button" class="btn btn-lg btn-block btn-secondary m-1" onclick="action('returnToCenter');">Return to Center</button>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <button type="button" class="btn btn-lg btn-block btn-secondary m-1" onclick="action('saveCalibrationToCSV');">Save to CSV</button>
          </div>
          <div class="col">
              <button type="button" class="btn btn-lg btn-block btn-primary m-1" onclick="action('saveAndSendOpticalCalibration');">Save and Send</button>
          </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class={{"col-12" if isMobile==true else "col-6"}}>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Active Image</h4>
          <div id="imageDiv"></div>
        </div>
      </div>
    </div>
    <div class={{"col-12" if isMobile==true else "col-6"}}>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Sled Position</h4>
          <div id="workareaOptical" style="height:400px"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
<script src="{{ url_for('static',filename='scripts/svg.js') }}" crossorigin="anonymous"></script>
<script src="{{ url_for('static',filename='scripts/svg.panzoom.min.js') }}" crossorigin="anonymous"></script>
<script src="{{ url_for('static',filename='scripts/opticalCalibration.js', version='12112018c') }}" crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script> feather.replace() </script>
{% endblock %}
