
{% block content %}
<div class="container-fluid">
  <div class = "row">
    <div class = "col-6">
      <h3>Top Left Motor</h3>
      <div class="row">
        <div class="col-3 mb-1 px-1">
          <button type="button" class="btn btn-secondary btn-block" onclick="action('rotateSprocket','L',10.0)">
            <i data-feather="rotate-cw"></i>
            10
          </button>
        </div>
        <div class="col-3 mb-1 px-1">
          <button type="button" class="btn btn-secondary btn-block" onclick="action('rotateSprocket','L',5.0)">
            <i data-feather="rotate-cw"></i>
            5
          </button>
        </div>
        <div class="col-3 mb-1 px-1">
          <button type="button" class="btn btn-secondary btn-block" onclick="action('rotateSprocket','L',1.0)">
            <i data-feather="rotate-cw"></i>
            1
          </button>
        </div>
        <div class="col-3 mb-1 px-1">
          <button type="button" class="btn btn-secondary btn-block" onclick="action('rotateSprocket','L',0.1)">
            <i data-feather="rotate-cw"></i>
            0.1
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-3 mb-1 px-1">
          <button type="button" class="btn btn-secondary btn-block" onclick="action('rotateSprocket','L',-10.0)">
            <i data-feather="rotate-ccw"></i>
            10
          </button>
        </div>
        <div class="col-3 mb-1 px-1">
          <button type="button" class="btn btn-secondary btn-block" onclick="action('rotateSprocket','L',-5.0)">
            <i data-feather="rotate-ccw"></i>
            5
          </button>
        </div>
        <div class="col-3 mb-1 px-1">
          <button type="button" class="btn btn-secondary btn-block" onclick="action('rotateSprocket','L',-1.0)">
            <i data-feather="rotate-ccw"></i>
            1
          </button>
        </div>
        <div class="col-3 mb-1 px-1">
          <button type="button" class="btn btn-secondary btn-block" onclick="action('rotateSprocket','L',-0.1)">
            <i data-feather="rotate-ccw"></i>
            0.1
          </button>
        </div>
      </div>
    </div>
    <div class = "col-6">
      <h3>Top Right Motor</h3>
      <div class="row">
        <div class="col-3 mb-1 px-1">
          <button type="button" class="btn  btn-secondary btn-block" onclick="action('rotateSprocket','R',-10.0)">
            <i data-feather="rotate-cw"></i>
            10
          </button>
        </div>
        <div class="col-3 mb-1 px-1">
          <button type="button" class="btn  btn-secondary btn-block" onclick="action('rotateSprocket','R',-5.0)">
            <i data-feather="rotate-cw"></i>
            5
          </button>
        </div>
        <div class="col-3 mb-1 px-1">
          <button type="button" class="btn  btn-secondary btn-block" onclick="action('rotateSprocket','R',-1.0)">
            <i data-feather="rotate-cw"></i>
            1
          </button>
        </div>
        <div class="col-3 mb-1 px-1">
          <button type="button" class="btn  btn-secondary btn-block" onclick="action('rotateSprocket','R',-0.1)">
            <i data-feather="rotate-cw"></i>
            0.1
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-3 mb-1 px-1">
          <button type="button" class="btn  btn-secondary btn-block" onclick="action('rotateSprocket','R',10.0)">
            <i data-feather="rotate-ccw"></i>
            10
          </button>
        </div>
        <div class="col-3 mb-1 px-1">
          <button type="button" class="btn  btn-secondary btn-block" onclick="action('rotateSprocket','R',5.0)">
            <i data-feather="rotate-ccw"></i>
            5
          </button>
        </div>
        <div class="col-3 mb-1 px-1">
          <button type="button" class="btn  btn-secondary btn-block" onclick="action('rotateSprocket','R',1.0)">
            <i data-feather="rotate-ccw"></i>
            1
          </button>
        </div>
        <div class="col-3 mb-1 px-1">
          <button type="button" class="btn  btn-secondary btn-block" onclick="action('rotateSprocket','R',0.1)">
            <i data-feather="rotate-ccw"></i>
            0.1
          </button>
        </div>
      </div>
    </div>
  </div>
    <div class = "row">
      <div class = "col-6">
        <h3>Bottom Left Motor</h3>
        <div class="row">
          <div class="col-3 mb-1 px-1">
            <button type="button" class="btn  btn-secondary btn-block" onclick="action('rotateSprocket','BL',10.0)">
              <i data-feather="rotate-cw"></i>
              10
            </button>
          </div>
          <div class="col-3 mb-1 px-1">
            <button type="button" class="btn  btn-secondary btn-block" onclick="action('rotateSprocket','BL',5.0)">
              <i data-feather="rotate-cw"></i>
              5
            </button>
          </div>
          <div class="col-3 mb-1 px-1">
            <button type="button" class="btn  btn-secondary btn-block" onclick="action('rotateSprocket','BL',1.0)">
              <i data-feather="rotate-cw"></i>
              1
            </button>
          </div>
          <div class="col-3 mb-1 px-1">
            <button type="button" class="btn  btn-secondary btn-block" onclick="action('rotateSprocket','BL',0.1)">
              <i data-feather="rotate-cw"></i>
              0.1
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-3 mb-1 px-1">
            <button type="button" class="btn  btn-secondary btn-block" onclick="action('rotateSprocket','BL',-10.0)">
              <i data-feather="rotate-ccw"></i>
              10
            </button>
          </div>
          <div class="col-3 mb-1 px-1">
            <button type="button" class="btn  btn-secondary btn-block" onclick="action('rotateSprocket','BL',-5.0)">
              <i data-feather="rotate-ccw"></i>
              5
            </button>
          </div>
          <div class="col-3 mb-1 px-1">
            <button type="button" class="btn  btn-secondary btn-block" onclick="action('rotateSprocket','BL',-1.0)">
              <i data-feather="rotate-ccw"></i>
              1
            </button>
          </div>
          <div class="col-3 mb-1 px-1">
            <button type="button" class="btn  btn-secondary btn-block" onclick="action('rotateSprocket','BL',-0.1)">
              <i data-feather="rotate-ccw"></i>
              0.1
            </button>
          </div>
        </div>
      </div>
      <div class = "col-6">
        <h3>Bottom Right Motor</h3>
        <div class="row">
          <div class="col-3 mb-1 px-1">
            <button type="button" class="btn  btn-secondary btn-block" onclick="action('rotateSprocket','BR',-10.0)">
              <i data-feather="rotate-cw"></i>
              10
            </button>
          </div>
          <div class="col-3 mb-1 px-1">
            <button type="button" class="btn  btn-secondary btn-block" onclick="action('rotateSprocket','BR',-5.0)">
              <i data-feather="rotate-cw"></i>
              5
            </button>
          </div>
          <div class="col-3 mb-1 px-1">
            <button type="button" class="btn  btn-secondary btn-block" onclick="action('rotateSprocket','BR',-1.0)">
              <i data-feather="rotate-cw"></i>
              1
            </button>
          </div>
          <div class="col-3 mb-1 px-1">
            <button type="button" class="btn  btn-secondary btn-block" onclick="action('rotateSprocket','BR',-0.1)">
              <i data-feather="rotate-cw"></i>
              0.1
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-3 mb-1 px-1">
            <button type="button" class="btn  btn-secondary btn-block" onclick="action('rotateSprocket','BR',10.0)">
              <i data-feather="rotate-ccw"></i>
              10
            </button>
          </div>
          <div class="col-3 mb-1 px-1">
            <button type="button" class="btn  btn-secondary btn-block" onclick="action('rotateSprocket','BR',5.0)">
              <i data-feather="rotate-ccw"></i>
              5
            </button>
          </div>
          <div class="col-3 mb-1 px-1">
            <button type="button" class="btn  btn-secondary btn-block" onclick="action('rotateSprocket','BR',1.0)">
              <i data-feather="rotate-ccw"></i>
              1
            </button>
          </div>
          <div class="col-3 mb-1 px-1">
            <button type="button" class="btn  btn-secondary btn-block" onclick="action('rotateSprocket','BR',0.1)">
              <i data-feather="rotate-ccw"></i>
              0.1
            </button>
          </div>
        </div>
      </div>
    </div>
   <div class = "row">
    <div class = "col-6">
      <div class="card-body">
        <h4 class="card-title">Velocity Testing</h4>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="vMotor">Motor</label>
              <div id="vMotor" class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                  <input type="radio" name="options" id="vMotorTL" autocomplete="off" value="L" checked > Top Left
                </label>
                <label class="btn btn-secondary">
                  <input type="radio" name="options" id="vMotorTR" autocomplete="off" value="R"> Top Right
                </label>
                <label class="btn btn-secondary">
                  <input type="radio" name="options" id="vMotorBL" autocomplete="off" value="M"> Bottom Left
                </label>
                <label class="btn btn-secondary">
                  <input type="radio" name="options" id="vMotorBR" autocomplete="off" value="N"> Bottom Right
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="vStart">Start</label>
              <input class="form-control" name="vStart" id="vStart" value="{{vStart}}">
              <small class="form-text text-muted"></small>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="vStop">Stop</label>
              <input class="form-control" name="vStop" id="vStop" value="{{vStop}}">
              <small class="form-text text-muted"></small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="vSteps">Steps</label>
              <input class="form-control" name="vSteps" id="vSteps" value="{{vSteps}}">
              <small class="form-text text-muted"></small>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="vVersion">Version</label>
              <input class="form-control" name="vVersion" id="vVersion" value="{{vVersion}}">
              <small class="form-text text-muted"></small>
            </div>
         </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="KpV">KpV</label>
              <input class="form-control" name="KpV" id="KpV" value="{{KpV}}">
              <small class="form-text text-muted"></small>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="KiV">KiV</label>
              <input class="form-control" name="KiV" id="KiV" value="{{KiV}}">
              <small class="form-text text-muted"></small>
            </div>
         </div>
          <div class="col">
            <div class="form-group">
              <label for="KdV">KdV</label>
              <input class="form-control" name="KdV" id="KdV" value="{{KdV}}">
              <small class="form-text text-muted"></small>
            </div>
          </div>
        </div>
        <button type="button" class="btn  btn-primary float-right m-1" onclick="vExecute();">Execute</button>
      </div>
    </div>
    <div class = "col-6">
      <div class="card-body">
        <h4 class="card-title">Velocity Testing Results</h4>
        <div class="col">
          <div id="vErrorPlot" style="width:100%; height:400px;"></div>
       </div>
      </div>
    </div>
   </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static',filename='scripts/pidTuning.js', version='11102018h') }}" crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script> feather.replace() </script>
{% endblock %}
