{% block content %}
<div class="container-fluid">
  <form class="form" id="boardForm">
    <input id="saveOrOpen" type="hidden" value="{{saveOrOpen}}">
    <div class="form-group">
      <div class="row mb-3">
        <label for="directorySelect">Selected Directory</label>
        <select id="directorySelect" class="custom-select" name="selectedDirectory" data-bs-group="{{title}}">
          {% for directory in directories %}
            <option value="{{directory}}" {{'selected' if directory == lastSelectedDirectory else ''}}>
              {{directory if directory != '.' else './'}}
            </option>
          {% endfor %}
        </select>
        </div>
      <div class="row mb-3">
        <label for="fileSelect">Existing Files</label>
        <select id="fileSelect" class="custom-select" name="fileSelect" data-bs-group="{{title}}">
          {% for file in files %}
            <option value="{{file['directory']}}/{{file['file']}}" {{'selected' if file["file"] == lastSelectedFile else ''}}>
              {{file["file"]}}
            </option>
          {% endfor %}
        </select>
      </div>
      <div class="row mb-3">
        <div class="form-group">
          <label for="fileName">Saved File Name</label>
          <input id="fileName" class="form-control" name="fileName" value="{{lastSelectedFile}}">
        </div>
      </div>

    </div>
    <!--<button type="submit" class="btn btn-primary mt-1">Submit</button>-->
    <div id="gcCircle">
      <div class="loader">
        <div class="loader">
          <div class="loader">
            <div class="loader">
            </div>
          </div>
        </div>

  </form>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static',filename='scripts/saveBoard.js', version='11102018b') }}" type="module" crossorigin="anonymous"></script>
{% endblock %}
