
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <button type="button" class="btn btn-lg btn-secondary btn-block" onclick="action('moveTo',{{posX}},{{posY}});$('#contentModal').modal('hide');">
        Move To
      </button>
    </div>
    <div class="col-6">
      <button type="button" class="btn btn-lg btn-secondary btn-block" onclick="action('defineHome',{{posX}},{{posY}});$('#contentModal').modal('hide');">
        Define Home
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <button type="button" class="btn btn-lg btn-secondary btn-block" onclick="action('returnToCenter');$('#contentModal').modal('hide');">
        Return to Center
      </button>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
<script type="module">
  import "feather";
  feather.replace();
</script>
{% endblock %}
