{% block content %}
<div class="container-fluid">
  <input id="pageID" type="hidden" value="{{pageID}}">
  <form id="settingsForm">
    <ul class="list-group">
      {% for setting in settings %}
      <li class="list-group-item">
        <div class="row align-items-center">
          <div class="col-7">
            <h4 {{'' if enableCustom or setting.custom != 1 else 'style=color:#ccc'}}>{{setting.title}}</h4>
            <p {{'' if enableCustom or setting.custom != 1 else 'style=color:#ccc'}}>{{setting.desc}}</p>
          </div>
          <div class="col-5">
            {% if setting.key =="COMport" %}
              <div class="input-group mb-3">
                <select class="custom-select" name="{{setting.key}}" id="comPorts" data-group="{{title}}">
                  {% if ports|length == 0 %}
                    <option value="{{setting.value}}" 'selected'>
                      {{setting.value}}
                    </option>
                  {% else %}
                    {% for port in ports %}
                      <option value="{{port}}" {{'selected' if port == setting.value else ''}}>
                        {{port}}
                      </option>
                    {% endfor %}
                  {% endif %}
                </select>
                <div class="input-group-append">
                  <button class="btn" type="button" id="updateListofPorts">
                    <i data-feather="refresh-cw"></i>
                  </button>
                </div>
              </div>
            {% elif setting.type=="options" %}
              <select name="{{setting.key}}" data-group="{{title}}" {{'' if enableCustom or setting.custom != 1 else 'disabled'}}>
                {% for option in setting.options %}
                  <option value="{{option}}" {{'selected' if option == setting.value else ''}}>
                    {{option}}
                  </option>
                {% endfor %}
              </select>
            {% elif setting.type=="bool" %}
              <span class="switch switch-lg">
                <input name="{{setting.key}}" data-group="{{title}}" type="checkbox" class="switch" id="switch-{{setting.key}}" {% if setting.value==1 %}checked{% endif %} {{'' if enableCustom or setting.custom != 1 else 'disabled'}}>
                <label for="switch-{{setting.key}}"></label>
              </span>
            {% else %}
              <input name="{{setting.key}}" {{'type="number" inputmode="decimal" pattern="^[0-9]*([\.,][0-9]{0,5})?$"' | safe if setting.value | isnumber else '' }} data-group="{{title}}" class="form-control" value="{{setting.value}}" {{'' if enableCustom or setting.custom != 1 else 'disabled'}}>
              <!--<input name="{{setting.key}}" data-group="{{title}}" class="form-control" value="{{setting.value}}" {{'' if enableCustom or setting.custom != 1 else 'disabled'}}>-->
            {% endif %}
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    <!--<button type="submit" class="btn btn-primary">Submit</button>-->
  </form>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static',filename='scripts/settings.js', version='11102020a') }}" crossorigin="anonymous"></script>
<script> feather.replace() </script>
{% endblock %}
