{% block content %}
<div class="container-fluid">
  <input id="pageID" type="hidden" value="{{pageID}}">
  <form id="settingsForm">
    <ul class="list-group">
      {% for setting in settings %}
      <li class="list-group-item">
        <div class="row align-items-center">
          <div class="col-8">
            <h4>{{setting.title}}</h4>
            <p>{{setting.desc}}</p>
          </div>
          <div class="col-4">
            {% if setting.type=="options" %}
              <select name="{{setting.key}}" data-group="{{title}}"}>
                {% for option in setting.options %}
                  <option value="{{option}}" {{'selected' if option == setting.value else ''}}>
                    {{option}}
                  </option>
                {% endfor %}
              </select>
            {% elif setting.type=="bool" %}
              <span class="switch switch-lg">
                <input name="{{setting.key}}" data-group="{{title}}" type="checkbox" class="switch" id="switch-{{setting.key}}" {% if setting.value==1 %}checked{% endif %}>
                <label for="switch-{{setting.key}}"></label>
              </span>
            {% else %}
              <input name="{{setting.key}}" data-group="{{title}}" class="form-control" value="{{setting.value}}">
            {% endif %}
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    <!--<button type="submit" class="btn btn-primary">Submit</button>-->
  </form>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static',filename='scripts/settings.js', version='11102020a') }}" crossorigin="anonymous"></script>
<script> feather.replace() </script>
{% endblock %}
