{% block content %}
<div class="container-fluid">
  <input id="pageID" type="hidden" value="{{pageID}}">
  <form id="settingsForm">
    <ul class="list-group">
      {% for setting in settings %}
      <li class="list-group-item">
        <div class="row align-items-center">
          <div class="col">
            <h4>{{setting.title}}</h4>
            <p>{{setting.desc}}</p>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col">
            {% if setting.key =="COMport" %}
             <div class="input-group mb-3">
                <select class="custom-select" name="{{setting.key}}" id="comPorts" data-group="{{title}}">
                  {% if ports|length == 0 %}
                    <option value="{{setting.value}}" 'selected'>
                      {{setting.value}}
                    </option>
                  {% else %}
                    {% for port in ports %}
                      <option value="{{port}}" {{'selected' if port == setting.value else ''}}>
                        {{port}}
                      </option>
                    {% endfor %}
                  {% endif %}
                </select>
                <div class="input-group-append">
                  <button class="btn" type="button" id="updateListofPorts">
                    <i data-feather="refresh-cw"></i>
                  </button>
                </div>
              </div>
            {% elif setting.type=="options" %}
              <select name="{{setting.key}}" data-group="{{title}}">
                {% for option in setting.options %}
                  <option value="{{option}}" {{'selected' if option == setting.value else ''}}>
                    {{option}}
                  </option>
                {% endfor %}
              </select>
            {% elif setting.type=="bool" %}
              <span class="switch switch-lg">
                <input name="{{setting.key}}" data-group="{{title}}" type="checkbox" class="switch" id="switch-{{setting.key}}" {% if setting.value==1 %}checked{% endif %}>
                <label for="switch-{{setting.key}}"></label>
              </span>
            {% else %}
              <input name="{{setting.key}}" data-group="{{title}}" class="form-control" value="{{setting.value}}">
            {% endif %}
          </div>
        </div>
      </il>
      {% endfor %}
    </ul>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function () {
    $('#settingsForm').on('submit', function(e) {
        e.preventDefault();
        var url = $("#pageID").val()
        $.ajax({
            url : '/'+url,
            type: "POST",
            data: $(this).serialize(),
            success: function (data) {
              console.log("success");
                $('#notificationModal').modal('toggle')
            },
            error: function (jXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });

    $('#updateListofPorts').on('click',function(){ //bind click handler
        event.preventDefault();
        action('updatePorts');
    });
});

function updatePorts(msg){
  ports = JSON.parse(msg.data);
  var selectedPort = $("#comPorts").find(":selected").text();
  if ($("#comPorts").length){
    $("#comPorts").empty()
    ports.forEach(function(port){
       var option = "";
       if (port==selectedPort){
          option = "<option value='"+port+"' 'selected'>"+port+"</option>";
       }
       else {
          option = "<option value='"+port+"' >"+port+"</option>";
       }
       $("#comPorts").append(option);
    });
  }

}
</script>
<script> feather.replace() </script>
{% endblock %}
