
{% block content %}
<div class="container">
  <label>Use the following controls to tune your Maslow CNC by cutting a calibration pattern.
    </p>Us this process after the initial setup or any time the system may need to be recalibrated.
    </p>Calibration adjusts the motor spacing and motor height as well as chain sag to compensate for measurement errors.
  </label>
  <br>
  <label>Before cutting the pattern, please make sure the "quick configure" system setup has been completed.</label>
  <br>
  <br>
  <table>
    <tr>
      <h4>Step 1:  Cut Calibration Test Pattern</h4>
    </tr>
    <tr>&nbsp</tr>
    <tr>
      <td>&nbsp &nbsp &nbsp</td>
      <td>&nbsp &nbsp &nbsp</td>
      <td><button type="button" class="btn btn-lg btn-block btn-secondary" onclick="action('cutTriangularCalibrationPattern');">Cut Calibration Pattern</button></td>
      <td>&nbsp &nbsp &nbsp</td>
      <td>&nbsp &nbsp &nbsp</td>
      <td><button type="button" class="btn btn-lg btn-block btn-danger" onclick="action('stopRun');">&nbsp &nbsp Stop &nbsp &nbsp</button></td>
    </tr> 
    <tr>&nbsp</tr>   
  </table>
  <br>
  <br>
  <h4>Step 2:  Measure the pattern (record the numbers)</h4>
  <form id="calibrateForm">
    <input id="pageID" type="hidden" value="{{pageID}}">
    <img class = "img-fluid" src="{{ url_for('static',filename='images/triangularCalibration/triangularCalibration.png' , version='11102019o') }}" >
    <div class="form-group">
      <br>
      <br>
      <table>
        <td>
          <tr><h4>Step 3: Enter the measured distances (mm only)</h4></tr>
          <tr><br></tr>
          <tr> 
            <td><input id="cut12" type="text" inputmode="decimal" pattern="^[0-9]*(\.[0-9]{0,5})?$" class="form-control" name="cut12" value="1930"></td>
            <td><label for="cut12">&nbsp &nbsp Cuts 1 and 2</label></td>
          </tr>
          <tr>
            <td><input id="cut34" type="text" inputmode="decimal" pattern="^[0-9]*(\.[0-9]{0,5})?$" class="form-control" name="cut34" value="1930"></td>
            <td><label for="cut34">&nbsp &nbsp Cuts 3 and 4</label></td>
          </tr>
          <tr>
            <td><input id="cut5" type="text" inputmode="decimal" pattern="^[0-9]*(\.[0-9]{0,5})?$" class="form-control" name="cut5" value="300"></td>
            <td><label for="cut5">&nbsp &nbsp Top of Work Area and Cut 5</label></td>
          </tr>
          <tr>
            <td><input id="bitDiameter" type="text" inputmode="decimal" pattern="^[0-9]*(\.[0-9]{0,5})?$" class="form-control" name="bitDiameter" value="6.35"></td>
            <td><label for="bitDiameter">&nbsp &nbsp Router Bit Diameter (6.35 = 1/4", 3.175 = 1/8")</label></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td><button type="submit" class="btn btn-lg btn-block btn-primary">Calculate</button></td>
          </tr>
        </td>
        <td>

        </td>
        </table>
      
    </div>
  </form>
  <table>
    <tr><h4>Step 4. ACCEPT the calculated values to save</h4></tr>
    <tr><br></tr>
    <tr>
      <td><label for="motorYoffset">Height of Motors: </label></td>
      <td><label id="motorYoffset">{{motorYoffset}}</label></td>
    </tr>
    <tr>
      <td><label for="rotationRadius">Rotational Radius: </label></td>
      <td><label id="rotationalRadius">{{rotationRadius}}</label></td>
    </tr>
    <tr>
      <td><label for="chainSagCorrection">Chain Sag Correction: </label></td>
      <td><label id="chainSagCorrection">{{chainSagCorrection}}</label></td>
    </tr>
    <tr>
      <td><label for="calibrationError">Calibration Error: </label></td>
      <td><label id="calibrationError">n/a</label></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><button id="acceptCalibration" disabled type="Accept" class="btn btn-lg btn-block btn-primary" onclick="action('acceptTriangularCalibrationResults',0,0);$('#contentModal').modal('toggle')">Accept Results</button></td>
    </tr>
  </table>
</div>
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function () {

    $("#acceptCalibration").on('click', function(){
      action('acceptTriangularCalibrationResults',0,0);
      $('#contentModal').modal('toggle');
      return false;
    });

    $('#calibrateForm').on('submit', function(e) {
        e.preventDefault();
        var url = $("#pageID").val()
        $.ajax({
            url : '/'+url,
            type: "POST",
            data: $(this).serialize(),
            success: function (msg) {
              console.log("success");
              $("#motorYoffset").html("Height of Motors: "+msg.data.motorYoffset);
              $("#rotationRadius").html("Rotational Radius: "+msg.data.rotationRadius);
              $("#chainSagCorrection").html("Chain Sag Correction: "+msg.data.chainSagCorrection);
              $("#calibationError").html("Calibration Error: "+msg.data.calibrationError);
              $("#acceptCalibration").prop("disabled", false);
            },
            error: function (jXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });
});

</script>
{% endblock %}
