{% import 'macros.html' as macros %}
{% block content %}
<div class="container-fluid">
  <form id="trimBoardForm">
      <input id="pageID" type="hidden" value="{{pageID}}">
      <input id="units" type="hidden" name="units" value="{{units}}">
      <div class="row justify-content-center">
          <div class="form-group col-6">
            <label for="trimTop">Trim Top</label>
            {{ macros.input_decimal("trimTop", True, "0") }}
            <small class="form-text text-muted">Enter value in {{units}} only</small>
          </div>
      </div>
      <div class="row">
        <div class="form-group col-6">
            <label for="trimLeft">Trim Left</label>
            {{ macros.input_decimal("trimLeft", True, "0") }}
            <small class="form-text text-muted">Enter value in {{units}} only</small>
        </div>
        <div class="form-group col-6">
            <label for="trimRight">Trim Right</label>
            {{ macros.input_decimal("trimRight", True, "0") }}
            <small class="form-text text-muted">Enter value in {{units}} only</small>
        </div>
      </div>
      <div class="row justify-content-center">
          <div class="form-group col-6">
            <label for="trimBottom">Trim Bottom</label>
            {{ macros.input_decimal("trimBottom", True, "0") }}
            <small class="form-text text-muted">Enter value in {{units}} only</small>
          </div>
      </div>
  </form>
</div>
{% endblock %}

{% block javascript %}
<script>
function onFooterSubmit(){
    var url = $("#pageID").val()
    $.ajax({
        url : '/'+url,
        type: "POST",
        data: $("#trimBoardForm").serialize(),
        success: function (data) {
          console.log("success");
            $('#contentModal').modal('toggle')
        },
        error: function (jXHR, textStatus, errorThrown) {
            alert(errorThrown);
        }
    });
}

</script>
{% endblock %}


