{% block content %}
<div class="container-fluid">
  <form id="gcodeForm" method="post" enctype=multipart/form-data>
    <div class="form-group">
      <div class="row mb-2">
        <label for="directorySelect">Select Target Directory</label>
        <select id="directorySelect" class="custom-select" name="selectedDirectory" data-group="{{title}}">
          {% for directory in directories %}
            <option value="{{directory}}" {{'selected' if directory == lastSelectedDirectory else ''}}>
              {{directory if directory != '.' else './'}}
            </option>
          {% endfor %}
        </select>
        <button type="button" class="btn btn-info" id="newDirectoryButton">Create New Directory</button>
        <input type="input" name="newDirectory" id="newDirectory">
      </div>
      <div class="row">
        Select File to Upload
      </div>
      <div class="row mb-2">

          <div class="custom-file">
            <input type="file" class="custom-file-input" id="gcodeFile" name="file[]" multiple accept="{{validExtensions}}">
            <label class="custom-file-label" for="gcodeFile">Choose file</label>
          </div>
        <!--label for="gcodeFile" class="mt-1">Select GCode File</label>
        <input type="file" class="form-control-file" name="file" id="gcodeFile" accept="{{validExtensions}}">-->
      </div>
    </div>
    <!--<button type="submit" class="btn btn-primary">Submit</button>-->
  </form> 
</div>
<!--<FormWrapper onSubmit={signUp}>-->
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static',filename='scripts/uploadGCode.js', version='11102020k') }}" crossorigin="anonymous"></script>

{% endblock %}