
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class = "col-9">
      <div class="row">
        <div class="col-4 mb-1">
          <input class="form-control" id="distToMoveZ" value="{{distToMoveZ}}">
        </div>
        <div class="col-4 mb-1">
          <button id="unitsZ" type="button" class="btn  btn-lg btn-block btn-secondary" onclick="unitSwitchZ();">{{unitsZ}}</button>
        </div>
        <div class="col-4 mb-1">
          <button type="button" class="btn btn-lg  btn-block btn-secondary" onclick="action('moveZ','raise',$('#distToMoveZ').val())">Raise</button>
        </div>
      </div>
      <div class="row">
        <div class="col-4 mb-1">
            <button type="button" class="btn btn-lg btn-block btn-secondary" onclick="$('#contentModal').modal('hide');">Done</button>
        </div>
        <div class="col-4 mb-1">
          <button type="button" class="btn  btn-lg btn-block btn-secondary" onclick="action('defineZ0');">Define Zero</button>
        </div>
        <div class="col-4 mb-1">
          <button type="button" class="btn  btn-lg btn-block btn-secondary" onclick="action('moveZ','lower',$('#distToMoveZ').val())">Lower</button>
        </div>
      </div>
    </div>
    <div class="col-3 mb-1">
      <button type="button" class="btn  btn-lg btn-block btn-danger" onclick="action('stopZ');">Stop</button>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  <script src="{{ url_for('static',filename='scripts/zAxis.js', version='10262018a') }}" crossorigin="anonymous"></script>
{% endblock %}
