
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class = "col">
      <div class="row">
        <div class="col-6 mb-1">
          <input class="form-control" type="text" inputmode="decimal" pattern="^[0-9]*(\.[0-9]{0,5})?$"  id="distToMoveZ" value="{{distToMoveZ}}">
        </div>
        <div class="col-6 mb-1">
          <button id="unitsZ" type="button" class="btn  btn-lg btn-block btn-secondary" onclick="unitSwitchZ();">{{unitsZ}}</button>
        </div>
      </div>
      <div class="row">
        <div class="col-6 mb-1">
          <button type="button" class="btn btn-lg  btn-block btn-secondary" onclick="action('moveZ','raise',$('#distToMoveZ').val())"><i data-feather="arrow-up">Raise</i></button>
        </div>
        <div class="col-6 mb-1">
          <button type="button" class="btn  btn-lg btn-block btn-secondary" onclick="action('touchZ')" {{'' if touchPlate else 'disabled'}} >Touch</button>
        </div>
      </div>
      <div class="row">
        <div class="col-6 mb-1">
          <button type="button" class="btn  btn-lg btn-block btn-secondary" onclick="action('moveZ','lower',$('#distToMoveZ').val())"><i data-feather="arrow-down">Lower</i></button>
        </div>
        <div class="col-6 mb-1">
          <button type="button" class="btn  btn-lg btn-block btn-secondary" onclick="action('defineZ0');"><i data-feather="save">Def.</i> Zero</button>
        </div>
      </div>
      <div class="col mb-1">
        <button type="button" class="btn  btn-lg btn-block btn-danger" style="height:100%" onclick="action('stopZ');"><i data-feather="alert-octagon"></i> Stop</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="module">
  import { unitSwitchZ } from "{{ url_for('static',filename='scripts/unitSwitch.js', version='12302022u') }}";
  // This will probably redefine the global unitSwitchZ - but we don't care
  window.unitSwitchZ = unitSwitchZ;
</script>
<script type="module">
  import "feather";
  feather.replace();
</script>
{% endblock %}
