 .modalxlg > .modal-dialog {
       max-width: 90% !important;
      width: 90% !important;
 }
 
.alert {
  margin-bottom: 1px;
  height: 30px;
  line-height:30px;
  padding:0px 15px;
}
 
#contentModalText {
    max-height: 70vh;
    overflow-y: auto;
}

#fpCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	width: 150px;
    height: 150px;
}
#gcCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	width: 150px;
    height: 150px;
}
#notificationCircle {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-30%);
	width: 80px;
    height: 80px;
}

#notificationModal {
    z-index: 1051;
}


.loader {
    width: calc(100% - 0px);
	height: calc(100% - 0px);
	border: 8px solid #162534;
	border-top: 8px solid #09f;
	border-radius: 50%;
	animation: rotate 5s linear infinite;
}

@keyframes rotate {
100% {transform: rotate(360deg);}
}

 #editor {
        margin: 0;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 60vh;
    }

.alert-circle.alert-sm {
    width: 16px;
    height: 16px;
    padding: 6px 0px;
    border-radius: 8px;
    font-size: 8px;
    text-align: center;
}