 .modalxlg > .modal-dialog {
       max-width: 90% !important;
      width: 90% !important;
 }

#contentModalText {
    max-height: 70vh;
    overflow-y: auto;
}

#fpCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	width: 150px;
    height: 150px;
}
#gcCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	width: 150px;
    height: 150px;
}
#notificationCircle {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-30%);
	width: 80px;
    height: 80px;
}

#notificationModal {
    z-index: 1051;
}



.loader {
    width: calc(100% - 0px);
	height: calc(100% - 0px);
	border: 8px solid #162534;
	border-top: 8px solid #09f;
	border-radius: 50%;
	animation: rotate 5s linear infinite;
}

@keyframes rotate {
100% {transform: rotate(360deg);}
}