.my-sidebar {
    -ms-flex: 0 0 460px;
    flex: 0 0 460px;
    height: calc(100vh - 85px)
}

.flex-fixed-width-item {
    flex: 0 0 410px;
    height: calc(100vh - 85px);
}

.text-nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-wrap {
    white-space: normal !important;
}

.scrollText {
    height: calc(100vh - 720px);
    overflow-y: scroll;
}

.scrollTextMobile {
    height: 400px;
    overflow-y: scroll;
}

.container-fluid {
}

html, body{
  height: 100vh;
}

.flex-fill {
  flex:1;
}

.fullWorkArea {
    height: calc(100vh - 85px);
    cursor: none;
}

/*#button3D, #buttonReset {*/
#button3DResetGroup{
    position: absolute;
    /*display: inline-block;*/
    z-index: 95;
    left: 1%;

}

#cursorPosition{
    width: 125px;
}

#cursorPosition {
    cursor: none;
}

#cameraDiv1 {
    position: absolute;
    display: block;
    z-index: 95;
    top: 77%;
    left: 1%;
    width: 256;
    height: 192;
}

#cameraDiv2 {
    position: absolute;
    display: block;
    z-index: 94;
    top: 77%;
    left: 1%;
    width: 256;
    height: 192;
}

#mobileCameraDiv1 {
    position: absolute;
    display: block;
    z-index: 95;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 200;
}

#mobileCameraDiv2 {
    position: absolute;
    display: block;
    z-index: 94;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 200;
}


.stopbutton {
  background-color: #004A7F;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
  0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
}

@-moz-keyframes glowing {
  0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
}

@-o-keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

@keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

.controls {
  align-items: center;
}

.controls .btn {
  width: 100%;
  padding: .375rem .125rem;
}

.controls label {
  width: 100%;
  margin-bottom: auto;
  text-align: right;
}

#pauseButton {
	color: #fff;
}

#controllerMessage { overflow-wrap: anywhere; }

.moveButtons .btn {
	padding-left: .125rem;
	padding-left: .125rem;
}
